<div ng-controller="HomePageController">
  <h1>Hi There, {{userFirstName}}</h1>
  <h3>Here's a list of people:</h3>

  <div ng-repeat="myPerson in people">
    <!--
    <div class="person">
      <div class="name">
        <img src="/static/person.png" class="icon" />
        {{myPerson.name}}
      </div>
      <div class="details">
        <div class="weight">
          Weight: {{myPerson.weight}}
        </div>
        <div class="age">
          Age: {{myPerson.age}}
        </div>
      </div>
    </div>
    -->
    <my-person-widget person="myPerson"></my-person-widget>
  </div>

  <!--
  <h3>And here's another person:</h3>
  <my-person-widget person="somePerson"></my-person-widget>
  -->
</div>
